<section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">TASK MANAGEMENT WEB APP</h1>
        <p class="lead text-muted">This web application was made as a one of the modules of system made to support team work by propagating data to clients based on multiple platforms. Thanks to generated JSON, web app can act as a server for other clients.</p>
      </div>
    </section>
<div class="album text-muted">
      <div class="concol-md-2 col-md-offset-5">
            <%= image_tag("android.jpg", :style=>'height: 20%; width: 20%;') %>
            <%= image_tag("pc.jpg", :style=>'height: 20%; width: 20%; ') %>
    </div>
</div>
